<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wiselygoose.repository.PostMapper">

	<sql id="search">
		<if test="keyword != null and keyword != ''">
			<choose>
				<when test="type != null and type != ''">
					<choose>
						<when test="'title'.equals( type )">
							WHERE title LIKE CONCAT('%', #{keyword}, '%')
						</when>
						<when test="'contents'.equals( type )">
							WHERE contents LIKE CONCAT('%', #{keyword}, '%')
						</when>
						<when test="'writer'.equals( type )">
							WHERE writer LIKE CONCAT('%', #{keyword}, '%')
						</when>
					</choose>
				</when>
				<otherwise>
					WHERE (
						title LIKE CONCAT('%', #{keyword}, '%')
						OR contents LIKE CONCAT('%', #{keyword}, '%')
						OR writer LIKE CONCAT('%', #{keyword}, '%')
					)
				</otherwise>
			</choose>
		</if>
	</sql>

	<insert id="insertPost" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO post (
			title, 
			contents, 
			writer
		) VALUES (
			#{title}, 
			#{contents}, 
			#{writer}
		)
	</insert>

	<select id="selectPostsList" resultType="Post">
		SELECT
			*
		FROM
			post
		<include refid="search" />
		ORDER BY
			id DESC
		LIMIT
			#{limit}, #{amount}
	</select>
	
	<select id="selectPostsCount" resultType="int">
		SELECT
			COUNT(*)
		FROM 
			post
		<include refid="search" />
	</select>
	
	<select id="selectPostById" resultType="Post">
		SELECT
			*
		FROM
			post
		WHERE
			id = #{id}
	</select>
	
	<update id="updatePost">
		UPDATE
			post
		SET
			title = #{title},
			contents = #{contents},
			writer = #{writer},
			last_modified_date = CURRENT_TIMESTAMP()
		WHERE
			id = #{id}
	</update>
	
	<delete id="deletePostById">
		DELETE FROM
			post
		WHERE
			id = #{id}
	</delete>

</mapper>