<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title},~{::body})}">
<head>
    <title>게시판 :: 목록</title>
</head>
<body>
    <div class="row mb-3 justify-content-center">
    	<div class="col-lg-10">
    		<a class="btn btn-primary" type="button" th:href="@{/posts/create}" id="btnCreate">작성</a>
    	</div>
    </div>
    
    <div class="row justify-content-center">
    	<div class="col-lg-10">
    		<table class="table table-hover text-center">
    			<thead>
    				<tr>
    					<th scope="col">번호</th>
    					<th scope="col">제목</th>
    					<th scope="col">작성자</th>
    					<th scope="col">날짜</th>
    				</tr>
    			</thead>
    			
    			<tbody>
    				<tr th:each="post : ${posts}">
    					<td scope="row">
    						<span th:text="${post.id}"></span>
    					</td>
    					<td>
    						<a th:href="@{/posts/{id}(id = ${post.id})}">
    							<span th:text="${post.title}"></span>
    						</a>
   						</td>
    					<td>
    						<span th:text="${post.writer}"></span>
    					</td>
    					<th:block th:if="${lastModifiedDate == null}">
    						<td>
    							<span th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
    						</td>
    					</th:block>
    					<th:block th:if="${lastModifiedDate != null}">
    						<td>
    							<span th:text="${#temporals.format(post.lastModifiedDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
    						</td>
    					</th:block>
    				</tr>
    			</tbody>    			
    		</table>
    		
    		<nav>
    			<ul class="pagination pagination-sm justify-content-center">
    				<li class="page-item" th:if="${pagination.prev}">
    					<a class="page-link" th:href="@{/posts(page=${pagination.start} - 1)}">Prev</a>
   					</li>
   					
   					<li class="page-item"
  						th:each="num : ${#numbers.sequence(pagination.start, pagination.end)}"
						th:classappend="${pagination.criteria.page} == ${num} ? active : null">
						<a class="page-link" th:href="@{/posts(page=${num})}" th:text="${num}"></a>
					</li>
					
					<li class="page-item" th:if="${pagination.next} and ${pagination.end > 0}">
						<a class="page-link" th:href="@{/posts(page=${pagination.end} + 1)}">Next</a>
					</li>
    			</ul>
    		</nav>    		
    	</div>
    </div>    
</body>
</html>